@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

.navbar {
  background-color: #171b20;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #fff;
  padding: 24px 26px;
  font-family: "Amatic SC", cursive;
  font-size: 32px;
  text-decoration: none;
  /* letter-spacing: 2px; */
}

.navbar a:hover {
  background-color: #f5f7fa;
  color: black;
}
@media screen and (max-width: 720px) {
  .navbar a {
    color: #fff;
    padding: 24px 16px;
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    text-decoration: none;
    /* letter-spacing: 2px; */
  }
}
@media screen and (max-width: 360px) {
  .navbar a {
    color: #fff;
    padding: 20px 10px;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    text-decoration: none;
    /* letter-spacing: 2px; */
  }
}

@media screen and (max-width: 2167px) and (min-width: 1629px) {
  .navbar a:hover {
    background-color: #a1c4fd;
    color: black;
  }
}

@media screen and (max-width: 1629px) and (min-width: 1091px) {
  .navbar a:hover {
    background-color: #f6d365;
    color: black;
  }
}
@media screen and (max-width: 1090px) {
  .navbar a:hover {
    background-color: #fdfcfb;
    color: black;
  }
}
